font-family: "Minercraftory";font-face {
  font-family: 'Minercraftory';
  src: url('https://nik29-homepage.github.io/Minercraftory.eot?') format('eot'),
       url('https://nik29-homepage.github.io/Minercraftory.woff') format('woff'),
       url('https://nik29-homepage.github.io/Minercraftory.ttf')  format('truetype'),
       url('https://nik29-homepage.github.io/Minercraftory.svg#Minercraftory') format('svg');
}

body {
  margin: 0;
  font-family: 'Roboto';
  user-select: none;
}

header {
  background-image: url(https://nik29-homepage.github.io/background-1.png);
  padding: 32px;
}

p {
  font-size: 32px;
}

main {
  max-width: 1024px;
  min-width: 256px;
  margin: auto;
}

footer {
  margin: 64px auto auto auto;
}

.header-link {
  font-family: 'Minercraftory';
  color: white;
  font-size: 128px;
  text-decoration: none;
  background-image: url(https://nik29-homepage.github.io/background-2.png);
  -webkit-background-clip: text;
  color: transparent;
}

.div-link {
  text-align: center;
}

.div-margin {
  margin: auto auto 128px auto;
}

.main-link {
  background-image: url(https://nik29-homepage.github.io/background-1.png);
  color: white;
  text-decoration: none;
  font-size: 32px;
  padding: 16px;
  font-family: "Minercraftory";
}

.span-link {
  background-image: url(https://nik29-homepage.github.io/background-2.png);
  -webkit-background-clip: text;
  color: transparent;
}
