@font-face {
  font-family: "Minercraftory";
  src: url("https://nik29-homepage.github.io/Minercraftory.eot?") format("eot"),
       url("https://nik29-homepage.github.io/Minercraftory.woff") format("woff"),
       url("https://nik29-homepage.github.io/Minercraftory.ttf")  format("truetype"),
       url("https://nik29-homepage.github.io/Minercraftory.svg#Minercraftory") format("svg");
}

@media screen and (min-device-width: 1024px) {
	.text, hr {
		margin: auto 128px;
	}
	.procedure, .terms, .policy, .pin, #list {
		margin: 64px 128px;
	}
	#iframe {
		height: calc(calc(100vw - 640px) * 0.5625);
	}
}
@media screen and (max-device-width: 1024px) {
	.text, hr {
		margin: auto 0;
	}
	.procedure, .terms, .policy, .pin, #list {
		margin: 64px 0;
	}
	#iframe {
		height: calc(calc(100vw - 384px) * 0.5625);
	}
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  user-select: none;
}

header {
  background-image: url(https://nik29-homepage.github.io/background-1.png);
  padding: 32px;
  text-align: center;
}

p {
  font-size: 32px;
  margin: 64px 0;
}


main {
  margin: auto;
}

footer {
  margin: 64px auto auto auto;
}

.header-link {
  font-family: "Minercraftory";
  font-size: 128px;
  text-decoration: none;
  background-image: url(https://nik29-homepage.github.io/background-2.png);
  background-clip: text;
  color: transparent;
}

.div-link {
  text-align: center;
  margin: 64px 0;
}

.main-link {
  background-image: url(https://nik29-homepage.github.io/background-1.png);
  text-decoration: none;
  font-size: 32px;
  padding: 16px;
  font-family: "Minercraftory";
}

.span-link {
  background-image: url(https://nik29-homepage.github.io/background-2.png);
  background-clip: text;
  color: transparent;
}
