@font-face {
  font-family: 'Minercraftory';
  src: url(https://nik29-homepage.github.io/Minercraftory.ttf);
}

body {
  margin: 0;
  font-family: 'Roboto';
  user-select: none;
}

header {
  background-image: url(https://nik29-homepage.github.io/background.png);
  padding: 32px;
}

p {
  font-size: 32px;
}

main {
  max-width: 1024px;
  min-width: 256px;
  margin: auto;
}

.header-link {
  font-family: 'Minercraftory';
  color: white;
  font-size: 128px;
  text-decoration: none;
}

.div-link {
  text-align: center;
}

.main-link {
  background-image: url(https://nik29-homepage.github.io/background.png);
  color: white;
  text-decoration: none;
  font-size: 32px;
  padding: 16px;
}

.span-number {
  background-image: url(https://nik29-homepage.github.io/background.png);
  -webkit-background-clip: text;
  color: transparent;
}
